
@import url("https://fonts.googleapis.com/css?family=Roboto:700");

.full{
    /* background:url(https://media2.giphy.com/media/xUPGcfzaX9hFFQJYre/giphy.gif?cid=ecf05e47a5885e5da75a36ed5647befc60ba0e44fb142750&rid=giphy.gif) no-repeat center center; */
    background:url('../images/cosmos-2.jpg') no-repeat center center;
    background-size: 100% 100%;
    height: 100%;
}

.container{
    padding: 30px;
}

.main-inner{
    position: relative;
    width: 80%;
    height: 80vh;
    margin: auto;
    border-radius: 20px;
    background-color: rgba(128,128,128,0.5);
}

.col-lg-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col-lg-6 img{
    width: 370px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.col-lg-6 img:hover{
    transform: scale(1.5);
    z-index: 2;
    -webkit-box-shadow: 0px 0px 26px 3px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 26px 3px rgba(255,255,255,1);
    box-shadow: 0px 0px 26px 3px rgba(255,255,255,1);
}

.col-lg-6 h2{
    color: #FBFE00;
    font-size: 32px;
    margin: 20px 0px;
    font-weight: 800;
    font-family: 'Lobster', cursive;
}

.start-block{
    display: flex;
    flex-direction: column;
}

.head{
    flex-direction: column;
    position: relative;
}

.menu-block{
    position: absolute;
    top: 70px;
    left: 40px;

}

.came-back-btn{
    display: flex;
    width: 60px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.came-back-btn:hover{
    text-decoration: none;
}

.back-icon{
    font-size: 25px;
    color: #fff;
}

h1{
    text-align: center;
    color: #fff;
    font-size: 60px;
    margin: 50px 0px;
    font-weight: 800;
    font-family: 'Lobster', cursive;
}

#startGame, #review-btn{
    position: relative;
    margin: 10px auto;
    width: 300px;
    height: 70px;
    border-radius: 20px;
    outline: none;
    background-color: rgba(255, 251, 0,0.5);
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    transition: .4s;
}

#review-btn:hover{
    background-color: rgba(255, 251, 0,1);
    -webkit-box-shadow: 0px 0px 54px 0px rgba(255,250,0,1);
    -moz-box-shadow: 0px 0px 54px 0px rgba(255,250,0,1);
    box-shadow: 0px 0px 54px 0px rgba(255,250,0,1);
}

#startGame:hover{
    background-color: rgba(255, 251, 0,1);
    -webkit-box-shadow: 0px 0px 54px 0px rgba(255,250,0,1);
    -moz-box-shadow: 0px 0px 54px 0px rgba(255,250,0,1);
    box-shadow: 0px 0px 54px 0px rgba(255,250,0,1);
}

#cube-restart{
    outline: none;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    position: relative;
    margin: auto;
    background-color: rgba(255, 251, 0,0.5);
}

#cube-restart:hover{
    background-color: rgba(255, 251, 0,1);
    -webkit-box-shadow: 0px 0px 54px 0px rgba(255,250,0,1);
    -moz-box-shadow: 0px 0px 54px 0px rgba(255,250,0,1);
    box-shadow: 0px 0px 54px 0px rgba(255,250,0,1);
}


#cube-restart svg{
    width: 40px;
    color: #fff;
}

.review-box{
    width: 500px;
    margin: 20px auto;
    background-color: rgba(128,128,128,0.8);
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #48FCFB;
}

.review-text{
    color: #48FCFB;
    text-align: justify;
    margin: 0;
}

.fa-mouse{
    margin-left: 5px;
}



#restart-btn svg:hover{
    color: #FBFE00;
}

.main-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.congrat-block{
    text-align: center;
}

.congrat-img{
    width: 500px;
    height: 350px;
}

.level-circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 10;
    background-color: #48FCFB;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}


.inner-box{
    width: 130px;
    height: 130px;
    margin: 5px;
    border-radius: 5px;
    transition: all .3s;
    cursor: pointer;
    
}

.step-block{
    position: absolute;
    padding: 25px;
    align-items: flex-end;
    bottom: 0;
    width: 100%;
}

.sub-steps-box, .level-block{
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.sub-steps-box{
    padding: 5px;
    height: 20px;
    background-color: rgba(0, 255,255, 0.7);
}
.level-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 17px;
    font-weight: 700;
}

.level-text{
    margin: 0;
    color: #fff;
}

.line{
    width: 30px;
    border: 1px dashed #fff;
    transition: .5s;
}

.sub-steps-box div{
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 50%;
    background-color: #fff;
}

.b-red{
    border: 1.5px solid #FC4848;
    -webkit-box-shadow: 
        0px 0px 34px -17px rgba(254,0,20,1),
        inset 0px 0px 95px -49px rgba(254,0,20,1);
    -moz-box-shadow: 
        0px 0px 34px -17px rgba(254,0,20,1),
        inset 0px 0px 95px -49px rgba(254,0,20,1);
    box-shadow: 
        0px 0px 34px -17px rgba(254,0,20,1),
        inset 0px 0px 95px -49px rgba(254,0,20,1);
}

.b-yellow{
    border: 1.5px solid #FBFE00;
    -webkit-box-shadow: 
        0px 0px 34px -17px rgba(251,254,0,1),
        inset 0px 0px 95px -49px rgba(251,254,0,1);
    -moz-box-shadow: 
        0px 0px 34px -17px rgba(251,254,0,1),
        inset 0px 0px 95px -49px rgba(251,254,0,1);
    box-shadow: 
        0px 0px 119px -6px rgba(251,254,0,1),
        inset 0px 0px 95px -49px rgba(251,254,0,1);
}

.b-blue{
    border: 1.5px solid #0012FE;
    -webkit-box-shadow:
        0px 0px 119px -6px rgba(0,18,254,0.73),
        inset 0px 0px 95px -49px rgba(0,18,254,0.73);
    -moz-box-shadow:
        0px 0px 119px -6px rgba(0,18,254,0.73),
        inset 0px 0px 95px -49px rgba(0,18,254,0.73);
    box-shadow:
        0px 0px 119px -6px rgba(0,18,254,0.73),
        inset 0px 0px 95px -49px rgba(0,18,254,0.73);
}
.b-green{
    border: 1.5px solid #00FE0A;
    -webkit-box-shadow: 
        0px 0px 119px -6px rgba(0,254,10,1),
        inset 0px 0px 95px -49px rgba(0,254,10,1);
    -moz-box-shadow: 
        0px 0px 119px -6px rgba(0,254,10,1),
        inset 0px 0px 95px -49px rgba(0,254,10,1);
    box-shadow: 
        0px 0px 119px -6px rgba(0,254,10,1),
        inset 0px 0px 95px -49px rgba(0,254,10,1);
}